body {
    overflow-x: hidden;
}
nav, li {
    display: flex;
    flex-direction: row;
    list-style: none;
}
img {
    width: 100vh;
    height: auto;
}
.clients {
    border-style: solid;
    border-width: 1px;
}