body {
    overflow-x: hidden;
    background-color: black;
    color: white;
}
nav, li {
    display: flex;
    flex-direction: row;
    list-style: none;
}
img {
    width: 100vh;
    height: auto;
}
.clients {
    border-style: solid;
    border-width: 1px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .myfieldclass{
    width: 30% !important;
    height: 100px !important;
  }
.centered-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.navbar-collapse {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .navbar-collapse {
    flex-direction: column;
    align-items: center;
  }
}