@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");


nav, li {
    display: flex;
    flex-direction: row;
    list-style: none;
}
#clients {
    border-width: 1px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.centered-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.navbar-collapse {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media (max-width: 992px) {
  .navbar-collapse {
    flex-direction: column;
    align-items: center;
  }
}

