<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>ihicodes</title>
  {% endblock title %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_messages %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />
</head>

<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-light mx-auto mt-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'my_portfolio:index' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 centered-nav">
          <li class="nav-item me-3">
            <a href="#projects" class="btn nav-link">Projects</a>
          </li>
          <li class="nav-item me-3">
            <a href="#services" class="btn nav-link">Services</a>
          </li>
          <li class="nav-item me-3">
            <a href="#contact" class="btn nav-link">Contact</a>
          </li>
          <li class="nav-item me-3">
            <a href="" class="btn nav-link">About</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  {% if messages %}
  <div id="message-container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer text-white py-4 mt-auto">
    <div class="container">
      <div class="row text-center">
        <!-- About Section -->
        <div class="col-md-4 mb-4">
          <h5>About Me</h5>
          <p>
            Passionate full-stack developer creating modern, responsive applications. Explore my projects, articles, and
            services.
          </p>
        </div>
        <!-- Newsletter Subscription -->
        <div class="col-md-4 mb-4">
          <h5>Subscribe to Our Newsletter</h5>
          <form action="." method="post" class="form p-4 rounded">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label fw-bold">Your Email</label>
              {{ newsletter_form.as_p }}
            </div>
            <button type="submit" name="newsletter_submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
        <!-- Contact Information -->
        <div class="col-md-4 mb-4">
          <h5>Contact</h5>
          <p>
            <a href="mailto:wchegesalome@gmail.com" target="_blank" class="btn btn-outline-primary me-2"
              onmouseover="hoverButtonEffect(this)" onmouseout="resetButtonEffect(this)">
              <i class="bi bi-envelope"></i> Email
            </a>
          </p>
          <p>
            <a href="https://github.com/Njoro90260/" target="_blank" class="btn btn-outline-primary me-2"
              onmouseover="hoverButtonEffect(this)" onmouseout="resetButtonEffect(this)">
              <i class="bi bi-github"></i> GitHub
            </a>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/peter-njoroge-71b689251/" target="_blank" class="btn btn-outline-primary me-2"
              onmouseover="hoverButtonEffect(this)" onmouseout="resetButtonEffect(this)">
              <i class="bi bi-linkedin"></i> LinkedIn
            </a>
          </p>
        </div>
      </div>
      <hr class="bg-secondary">
      <div class="text-center">
        <p>&copy; 2025 ihicodes. All Rights Reserved.</p>
      </div>
    </div>
  </footer>

  <script src="{% static 'js/scripts.js' %}"></script>
  {% bootstrap_javascript %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
</body>

</html>