<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_messages %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'my_portfolio:index' %}">Home</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
        </ul>
    </nav>
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}{% endblock page_header %}
    {% block content %}{% endblock content %}


    <script src="{% static 'js/scripts.js' %}"></script>
    {% bootstrap_javascript %}
</body>
</html>