{% extends "my_portfolio/base.html" %}

{% block content %}
<h2>Featured Projects</h2>

{% for project in projects %}
<h3>{{ project.title }}</h3>
<img src="{{ project.image.url }}" alt="{{ project.title }}">
{% endfor %}
<a href="{% url 'my_portfolio:projects' %}">View More</a>


<!-- {% comment %} services section {% endcomment %} -->

<h3>Services</h3>
{% for service in services %}
<h4>{{ service.name }}</h4>
<p>{{ service.description | linebreaks }}</p>
<button>{{ service.price }}</button>
{% endfor %}

<!-- Clients -->
<h3>Clients</h3>
{% for client in clients %}
 <div class="clients">
    <a href="{{ client.website }}">
        <h4>{{ client.name }}</h4>
        <img src="{{ client.logo.url }}" alt="{{ client.name }}">
    </a>
 </div>
 {% endfor %}
{% endblock content %}